@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #04042f;
  font-family: sans-serif;
}

.rad-20 {
  border-radius: 20px;
}

.rad-50 {
  border-radius: 50%;
}

.rad-4 {
  border-radius: 4px;
}

.screen {
  position: relative;
  padding: 100px 100px;
}
@media (max-width: 500px) {
  .screen {
    padding: 80px 50px !important;
  }
}
.screen h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 50px;
}
.screen .choose-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: fit-content;
  margin: 0 auto 50px;
  padding: 5px;
  background-color: #060646;
  border-radius: 30px;
}
.screen .choose-timer span {
  display: block;
  text-align: center;
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 400;
  color: gray;
  padding: 10px 20px;
  cursor: pointer;
}
.screen .choose-timer span.active {
  background-color: #ed7054;
  color: #04042f;
}
.screen .timer-box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto 50px;
  background-color: #060646;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen .timer-box .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  height: 200px;
  width: 200px;
  background-color: #04042f;
  text-align: center;
}
.screen .timer-box .content .number {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}
.screen .timer-box .content span {
  position: relative;
  z-index: 11;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  cursor: pointer;
}
.screen .timer-box .content span.continue {
  display: none;
}
.screen .timer-box svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  transform: translate(-50%, -50%) rotateY(-180deg) rotateZ(-90deg);
}
.screen .timer-box svg circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke-dasharray: 754px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #ed7054;
  fill: none;
}
@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 754px;
  }
}
.screen .settings {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.screen .settings i {
  font-size: 20px;
  cursor: pointer;
  color: gray;
}
.screen .settings-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 500px) {
  .screen .settings-box {
    width: 85%;
  }
}
.screen .settings-box .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.screen .settings-box .title h2 {
  font-size: 18px;
  text-transform: capitalize;
  color: #04042f;
}
.screen .settings-box .title .x {
  color: gray;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .screen .settings-box .setting-timers {
    width: 100% !important;
  }
}
.screen .settings-box .setting-timers h3 {
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #04042f;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.screen .settings-box .setting-timers .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .screen .settings-box .setting-timers .fields {
    flex-direction: column;
  }
  .screen .settings-box .setting-timers .fields > div {
    width: 100% !important;
  }
  .screen .settings-box .setting-timers .fields > div span {
    width: 100% !important;
  }
}
.screen .settings-box .setting-timers .fields > div {
  width: fit-content;
}
.screen .settings-box .setting-timers .fields > div span {
  display: block;
  font-size: 13px;
  text-transform: capitalize;
  color: gray;
  margin-bottom: 5px;
}
.screen .settings-box .setting-timers .fields > div input {
  display: block;
  width: 100%;
  background-color: #ddd;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.screen .settings-box .choose-font {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.screen .settings-box .choose-font h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #04042f;
}
.screen .settings-box .choose-font .fonts {
  display: flex;
  align-items: center;
  gap: 6px;
}
.screen .settings-box .choose-font .fonts span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ddd;
  color: #060646;
  text-align: center;
  cursor: pointer;
}
.screen .settings-box .choose-font .fonts span.active {
  background-color: #04042f;
  color: #fff;
}
.screen .settings-box .choose-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.screen .settings-box .choose-color h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #04042f;
}
.screen .settings-box .choose-color .colors {
  display: flex;
  align-items: center;
  gap: 6px;
}
.screen .settings-box .choose-color .colors span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ddd;
  color: #060646;
  text-align: center;
  cursor: pointer;
}
.screen .settings-box .choose-color .colors span.red {
  background-color: #ed7054;
}
.screen .settings-box .choose-color .colors span.cyan {
  background-color: #6defef;
}
.screen .settings-box .choose-color .colors span.vio {
  background-color: #ba62ba;
}
.screen .settings-box .choose-color .colors span i {
  display: none;
  font-size: 14px;
  color: #04042f;
}
.screen .settings-box .choose-color .colors span.active i {
  display: block;
}
.screen .settings-box .applay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #ed7054;
  padding: 10px 25px;
  cursor: pointer;
}
.screen .bell {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.9);
  z-index: 11111;
}
.screen .bell audio {
  opacity: 0;
}
.screen .bell .close-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 600;
  cursor: pointer;
  color: #ed7054;
}
.screen .bell .close-timer::before {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #ed7054;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 1px solid #ed7054;
  animation: waves 2s linear infinite;
}
@keyframes waves {
  100% {
    outline-offset: 0;
  }
  20% {
    outline-offset: 15px;
  }
  40% {
    outline-offset: 30px;
  }
  60% {
    outline-offset: 60px;
  }
  80% {
    outline-offset: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
